
  <mat-toolbar color="primary">
    Fetch IFSC Code Details
  </mat-toolbar>
  <div align="center">



    <form [formGroup]="ifscForm" style="margin-top: 20px;" (ngSubmit)="formSubmit()">
      <div class="form-group">
        <mat-form-field class="example-form-field">
          <input class="text-uppercase" matInput type="text" maxlength="11" placeholder="Enter IFSC Code" formControlName="ifsc"/>
          <button mat-button *ngIf="ifscForm.controls.ifsc.value.length > 0" matSuffix mat-icon-button
                  aria-label="IFSC CODE ex.PYTM0123456"
                  (click)="clearForm()">
            <mat-icon>close</mat-icon>
          </button>
          <mat-error>
            <span *ngIf="ifscForm.invalid">Invalid IFSC Code</span>
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-flat-button color="primary" type="submit" [disabled]="ifscForm.invalid">Search</button>
    </form>
    <br>
    <div class="ifsc-details" *ngIf="response" [class.align-content-center]="ifscForm">
      <mat-card class="example-card">

         <h3>IFSC Code</h3>
          <h6>Bank Details</h6>
        <mat-card-content>
          <div>
            <p *ngFor="let key of responseKeys">
              {{key}} : {{response[key]}}
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="ifsc-error" *ngIf="errorMessage">
      {{errorMessage}}
    </div>






  </div>

